{% extends 'blog/base.html' %}

{% block content %}
	<div class="col-xs-12 col-md-8">
		{% if posts.count %}
		    {% for post in posts %}
		        <div class="post">
		            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
		            <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
		            <p>{{ post.text|truncatechars:7 }}</p>
		        </div>
		    {% endfor %}
		{% else %}  
			<div class="post">
		    	<h1>No hay ningún Post pendiente de publicar.</h1>     
		    </div>
		{% endif %}
	</div>
{% endblock %}