.page-header {
        background: url(../img/home-bg.jpg) no-repeat center;
        padding: 50px 20px 20px 40px;
        height: 400px;
    }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	display: block;
    text-align: center;
    color: white;
    font-size: 46pt;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
}

.navbar-brand {
    font-family: 'Modak', cursive;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    /*float: right;*/
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
   /*border-bottom: 1px solid #cdc9c9;*/
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.registro {
    text-decoration: underline;
    color: black;
}

.post-text, .title {
    font-family: 'Lobster', cursive;
}

.fecha {
    font-size: 14px;
}

span.form-element input {
    width: 600px;
    height: 30px;
    border-radius: 5px;
}